main{
    margin-top: 220px;
    text-align:justify;
    margin-left:10px;
    margin-right:10px;
}

#universidades{
    margin-left:20px;
    display:flex;
}

#tokio{
    margin-left: 20px;
    display:flex;
    width:130%;
}

#proximamente{
   width:60%;
   margin-top:50px;
}

#playstation{
    margin-right:20px;
    margin-left:20px;
    display:flex;
}

#motor{
    margin-right:20px;
    margin-left:20px;
    display:flex;
}


#recientes{
    float: left;
    width: 60%;
}

#mensual{
    margin-top:50px;
    float: left;
    width: 60%;
}

#goty{
    margin-left: 20px;
    margin-bottom:100px;
}

.uniBarcelona{
    border-radius:50%;
    margin-left:20px;
}

h4{
    margin-left: 20px;
}

.panoramicaTokio{
    border-radius:50%;
    margin-left:40px;
    width:350px;
    height:250px;
}

#goty{
    margin-left:20px;
    display:flex;
}

.gameAwards{
    margin-left:40px;
    width: 400px;
    height:300px;
}

.pirineoXplay{
    width:25%;
    height:25%;
    margin-right:50px;
    margin-top:20px;
}

.engine{
    width:25%;
    height:25%;
    margin-bottom:20px;
}

.anuncio3{
    padding-right:350px;
    padding-bottom:690px;
    margin-right:20px;
    float:left;
    background-color:grey;
}

.anuncio4{
    margin-top:740px;
    padding-right:350px;
    padding-bottom:1090px;
    margin-right:20px;
    float:right;
    background-color:grey;
}