#formulario{
    margin-top: 15px;
    margin-left:300px;
    background: linear-gradient(45deg, #350542, #d33fe0);
    overflow:hidden;
    padding-right:140px;
    padding-left:140px;
    padding-bottom: 20px;
    text-align: left;
    float:left;
    border-radius: 7%;
    font-family:'Trebuchet MS';
}

h3{
    text-align:center;
}

body{
    background-image: url("../img/backgroundService.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-top:170px;
}

.etiquetasInput {
    display: inline-block;
    margin-right: 39px;
    width: 20%;
}

.etiquetaCodPostal{
    margin-right: 3px;
}

.etiquetaFechaNac{
    margin-right: 9px;
    width: 20%;
}

.etiquetaSexo{
    margin-right: 65px;
}

.inputSexo{
    padding-right:20px;
}
.inputOtra{
    padding-right:107px;
}

@keyframes tambalear {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

#dni:invalid {
    animation: tambalear 0.3s ease-in-out;
    background-color:rgba(255, 0, 0, 0.5);
}

#direccion:invalid {
    animation: tambalear 0.3s ease-in-out;
    background-color:rgba(255, 0, 0, 0.5);
}